@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div>
    <form class="form-horizontal">
        <fieldset>
            <!-- Form Name -->
            <legend>ADD STUDENT</legend>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Student_Name">STUDENT NAME</label>
                <div class="col-md-4">
                    <input id="Student_Name" name="Student_Name" placeholder="STUDENT NAME " class="form-control input-md" required="" type="text">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="product_id">STUDENT EMAIL</label>
                <div class="col-md-4">
                    <input id="Student_Email" name="Student_Email" placeholder="STUDENT EMAIL " class="form-control input-md" required="" type="email">
                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Student_City">STUDENT CITY</label>
                <div class="col-md-4">
                    <input id="Student_City" name="Student_City" placeholder="STUDENT CITY " class="form-control input-md" required="" type="text">
                </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="Student_Phone">STUDENT PHONE</label>
                <div class="col-md-4">
                    <input id="Student_Phone" name="Student_Phone" placeholder="STUDENT PHONE " class="form-control input-md" required="" type="text">
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="singlebutton"></label>
                <div class="col-md-4">
                    <button id="btnSave" name="submitButton" class="btn btn-primary">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
    <h2>Student Details</h2>
    <hr />
    <table id="tblStudent" class="table table-bordered table-striped table-responsive table-hover">
        <thead>
            <tr>
                <th align="left" class="productth">Student Name</th>
                <th align="left" class="productth">Student Email</th>
                <th align="left" class="productth">Student City</th>
                <th align="left" class="productth">Student Phone</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>